<% if restaurant.is_favorited?(current_user) %>
  <%= link_to "<span class='glyphicon glyphicon-heart-empty'></span>  Unfavorite".html_safe, unfavorite_restaurant_path(restaurant), method: :post,class: "btn btn-info" %>
<% else %>
  <%= link_to "<span class='glyphicon glyphicon-heart'></span>  Favorite".html_safe, favorite_restaurant_path(restaurant), method: :post,class: "btn btn-primary" %>
<% end %>