body {
    padding-top: 70px;
}


.container {
  box-sizing: content-box;
}


.container-fluid {
  box-sizing: content-box;
  margin: auto;
}



.navbar {
  box-sizing: content-box;
  z-index: 100;    
}

.well {
  box-sizing: content-box;
  color: white;
  background-color: #337ab7;
}






.navbar-default {
  color: white;
  background-color: #337ab7;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-text {
    text-align: center;
    color: white;
    padding: 10px 0;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #F0F0F0;
    text-shadow: 0 0 15px #fff;
    background-color: transparent;
}





.navbar-default .navbar-nav > li > a {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #337ab7;
    background-color: white;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #337ab7;
}






.navbar-collapse {
  position: fixed;
  right: 15px;
  margin: auto;
  background-color: #337ab7;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: white;
}

.navbar-collapse .navbar-nav {
  margin-top: 0;
}

.navbar-collapse>ul>li {
  margin: 0;
}




.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}


.nav-pills-center {
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}


@media screen and (min-width: 768px) {
  
  .navbar-brand {
  color: white;
  margin: 10px 10px;

  }

}


@media screen and (max-width: 767px) {
  

}